{% load product_extras %}
{% url 'orders:confirm' as url_confirm %}
{% url 'orders:order' as url_order %}
<div class="card">
    <div class="card-body">
        <div class="font-weight-bold">
            Resumen del pedido
        </div>
        <div>
            <table class="table table-borderlass table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Productos:</td>
                        <td>{{ cart.total | price_format}}</td>
                    </tr>
                    <tr>
                        <td>Envio:</td>
                        <td>{{ order.shipping_total | price_format }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <hr>
            <div class="font-weight-bold text-danger">
                 Total (Impuestos incluidos)
                 <div class="d inline-block">
                     {{ order.total | price_format }}
                 </div>
            </div>
        </div>
        <div class="mt-2">
            {% if request.path == url_order %}
                <a href="{% url 'orders:address' %}" class="btn btn-warning">Confirmar dirección</a>
            {% else %}
                <a href="{% url 'orders:complete' %}" class="btn btn-warning">Completar Pedido</a>
                <a href="{% url 'orders:cancel' %}" class="btn btn-danger">Cancelar Pedido</a>
            {% endif %}
        </div>
    </div>
</div>